/* share */
html, body {
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}
/* header */
header {
    /* border: 1px solid lime; */
    position: fixed; left: 0; top: 0; z-index: 999; width: 100%;
    background-color: #000;
}
/* left(logo & nav) & right(snb & search) */
header .top {
    padding: 15px 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* left(logo & nav) */
header .top .top_left {
    /* border: 1px solid lime; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .top .top_left h1 {
    /* border: 1px solid lime; */
    margin-right: 30px;
}
header .top .top_left h1 a {}
header .top .top_left h1 a img {
    width: 124px;
}
header .top .top_left nav {
    /* border: 1px solid lime; */
    color: #fff;
}
/* --------------------------------------------------------------------------lnb_bg */
header .top .top_left nav .lnb_bg {
    /* border: 1px solid yellow; */
    background-color: #000;
    width: 100%;
    position: absolute; left: 0; top: 65px;
    height: 265px;
    /* display: none; */
}
header .top .top_left nav .gnb {
    /* border: 1px solid orange; */
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
header .top .top_left nav .gnb > li {
    /* border: 1px solid orangered; */
    font-family: 'DM Serif Text';
    font-size: 0.875rem;
    color: #fff;
    margin-right: 30px;
}
header .top .top_left nav .gnb > li:last-child {
    margin-right: 0;
}
header .top .top_left nav .gnb > li:hover {
    border-bottom: 1px solid #76CFC7;
}
header .top .top_left nav .gnb > li .gnb_t {
    font-family: 'DM Serif Text';
    font-size: 0.875rem;
    color: #fff;
}
/* --------------------------------------------------------------------------lnb */
header .top .top_left nav .gnb li .lnb_func {
    /* border: 1px solid lime; */
    position: absolute; left: 0; top: 40px;
    display: flex;
    padding: 15px 0;
    /* display: none; */
}
header .top .top_left nav .gnb li .lnb_func li {
    margin-right: 60px;
    /* border: 1px solid red; */
    text-align: center;
}
header .top .top_left nav .gnb li .lnb_func li:last-child {
    margin-right: 0;
}
header .top .top_left nav .gnb li .lnb_func li .lnb_t {
    color: #fff;
    font-size: 0.813rem;
    font-weight: 700;
}
header .top .top_left nav .gnb li .lnb_func li .lnb {}
header .top .top_left nav .gnb li .lnb_func li .lnb li {
    /* border: 1px solid blue; */
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
}
header .top .top_left nav .gnb li .lnb_func li .lnb li:first-child {
    margin-top: 15px;
}
header .top .top_left nav .gnb li .lnb_func li .lnb li:last-child {
    margin-bottom: 0px;
}
header .top .top_left nav .gnb li .lnb_func li .lnb li a {
    color: #fff;
    font-size: 0.813rem;
}
/* right(snb & search) */
header .top .top_right {
    /* border: 1px solid lime; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .top .top_right a {
    font-size: 0.813rem;
    color: #fff;
    margin-right: 15px;
}
header .top .top_right a:last-child {
    margin-right: 0;
}
header .top .top_right .cart {
    font-size: 0.813rem;
}
header .top .top_right .cart a {
    margin-right: 5px;
}
header .top .top_right .cart .cart_num {
    background-color: #76CFC7;
    border-radius: 5px;
    padding: 0.5px 6px;
}
header .top .top_right p {
    margin: 0 15px;
}
header .top .top_right p > img {
    width: 24px;
}
header .top .top_right a {}
header .top .top_right a > img {
    width: 18px;
}
/* header_search */
header .header_search {
    /* border: 1px solid lime; */
    width: 334px;
    margin: 10px 60px;
    border-bottom: 1px solid #fff;
    float: right;
    display: none;
}
header .header_search #search_box {}
header .header_search #search_box fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header .header_search #search_box fieldset input {
    font-size: 0.813rem;
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    width: 296px;
    color: #fff;
}
header .header_search #search_box fieldset input::placeholder {
    color: #fff;
}
header .header_search #search_box fieldset #search_btn {
    background-color: transparent;
    border: none;
    width: 18px;
    margin: 10px;
}
header .header_search #search_box fieldset #search_btn img {}
/* main */
main {}
/* main01_video */
main .video {
    /* border: 5px solid red; */
    color: #fff;
    text-align: center;
    position: relative;
}
main .video video {
    width: 100%;
}
main .video .video_title {
    position: absolute; left: 0; top: 330px;
    width: 100%;
}
main .video .video_title p {}
main .video .video_title h2 {
    font-family: 'DM Serif Text';
    font-size: 6.25rem;
    line-height: 1.1;
    background: linear-gradient(to bottom, #76CFC7, #fff, #FF71AC);
    color: transparent;
    -webkit-background-clip: text;
}
main .video .video_scroll {
    font-size: 0.75rem;
    padding-bottom: 30px;
}
main .video .video_scroll p {}
main .video .video_scroll p img {
    margin-top: 5px;
}
/* main02_club */
main .club {
    /* border: 5px solid red; */
    padding: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .club .club_left {position: relative;}
main .club .club_left p {}
main .club .club_left p img {
    width: 870px;
}
main .club .club_left .club_title {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 49px 0;
    position: absolute; left: 0; top: 322px;
    width: 100%;
}
main .club .club_left .club_title h2 {
    font-family: 'DM Serif Text';
    font-size: 1.875rem;
}
main .club .club_left .club_title p {
    font-size: 0.875rem;
    padding: 30px 0 50px 0;
}
main .club .club_left .club_title .view {
    font-size: 0.875rem;
    padding: 10px;
    border-bottom: 1px solid #000;
}
main .club .club_right {position: relative;}
main .club .club_right p {}
main .club .club_right p img {
    width: 870px;
}
main .club .club_right .certification_title {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 49px 0;
    position: absolute; left: 0; top: 322px;
    width: 100%;
}
main .club .club_right .certification_title h2 {
    font-family: 'DM Serif Text';
    font-size: 1.875rem;
}
main .club .club_right .certification_title p {
    font-size: 0.875rem;
    padding: 30px 0 50px 0;
}
main .club .club_right .certification_title .view {
    font-size: 0.875rem;
    padding: 10px;
    border-bottom: 1px solid #000;
}
/* main03_signature */
main .signature {
    /* border: 5px solid red; */
    padding: 60px;
}
main .signature .signature_title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
main .signature .signature_title .signature_logo {}
main .signature .signature_title .signature_logo img {
    width: 148px;
}
main .signature .signature_title .signature_more {
    color: #fff;
    font-size: 1.25rem;
    margin-left: 60px;
}
main .signature .signature_title .signature_more .signature_info {
    line-height: 30px;
}
main .signature .signature_title .signature_more .signature_info:nth-child(2) {
    padding-bottom: 30px;
}
main .signature .signature_title .signature_more .signature_info span {
    font-weight: 700;
}
main .signature .signature_title .signature_more .signature_info span em {
    font-weight: 700;
    color: #FF71AC;
}
main .signature .signature_title .signature_more .view {
    font-size: 0.875rem;
    padding: 10px;
    color: #fff;
    background-color: #FF71AC;
}
main .signature .signature_photo {
    display: flex;
}
main .signature .signature_photo li {}
main .signature .signature_photo li img {
    width: 450px;
}
/* main04_full */
main .full {
    /* border: 5px solid red; */
    padding: 60px;
    position: relative;
}
main .full .full_photo {}
main .full .full_photo img {
    /* border: 1px solid lime; */
    width: 100%;
}
main .full .full_info {
    /* border: 1px solid lime; */
    position: absolute; left: 800px; top: 300px;
}
main .full .full_info .full_title {
    text-align: center;
    color: #fff;
    margin-bottom: 262px;
}
main .full .full_info .full_title .small {}
main .full .full_info .full_title h2 {
    font-family: 'DM Serif Text';
    font-size: 1.875rem;
    padding: 30px 0;
}
main .full .full_info .full_title p {}
main .full .full_info .circle {
    display: flex;
    justify-content: center;
}
main .full .full_info .circle li {}
main .full .full_info .circle li button {
    border: none;
    background-color: transparent;
}
main .full .full_info .circle li button img {
    width: 30px; height: 30px;
    border-radius: 100px;
    margin-right: 20px;
}
main .full .full_info .circle li #cir_btn_01 img {
    border: 3px solid #fff;
}
main .full .full_info .circle li #cir_btn_04 img {
    margin-right: 0;
}
/* main05_product01 */
main .product_01 {
    /* border: 5px solid red; */
    padding: 60px 60px 30px ;
}
main .product_01 .product_01_title {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .product_01 .product_01_title .title_info_01 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
main .product_01 .product_01_title .title_info_01 h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-right: 30px;
}
main .product_01 .product_01_title .title_info_01 p {
    font-size: 0.875rem;
}
main .product_01 .product_01_title .view {
    font-size: 0.875rem;
    padding: 10px;
    color: #fff;
    background-color: #76CFC7;
}
main .product_01 .product_01_item {
    padding: 60px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 30px;
}
main .product_01 .product_01_item .item {
    color: #fff;
    font-size: 1.25rem;
}
main .product_01 .product_01_item .item p {
    font-size: 1.125rem;
    color: #CDCDCD;
    padding: 10px 0;
}
main .product_01 .product_01_item .item p img {
    width: 560px; /* height: 730px; */
}
main .product_01 .product_01_item .item h3 {
    color: #fff;
}
main .product_01 .product_01_item .item .price {
    display: flex;
    align-items: center;
}
main .product_01 .product_01_item .item .price del {
    color: #aaaaaa;
}
main .product_01 .product_01_item .item .price p {}
main .product_01 .product_01_item .item .price p span {
    color: #76CFC7;
    margin: 0 30px 0 10px;
}
main .product_01 .product_01_item .item .price .sale {
    color: #fff;
}
/* main06_product02 */
main .product_02 {
    /* border: 5px solid red; */
    padding: 60px 60px 30px ;
}
main .product_02 .product_02_title {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .product_02 .product_02_title .title_info_02 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
main .product_02 .product_02_title .title_info_02 h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-right: 30px;
}
main .product_02 .product_02_title .title_info_02 p {
    font-size: 0.875rem;
}
main .product_02 .product_02_title .view {
    font-size: 0.875rem;
    padding: 10px;
    color: #fff;
    background-color: #76CFC7;
}
main .product_02 .product_02_item {
    padding: 60px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 30px;
}
main .product_02 .product_02_item .item {
    color: #fff;
    font-size: 1.25rem;
    /* margin-bottom: 60px; */
}
main .product_02 .product_02_item .item p {
    font-size: 1.125rem;
    color: #CDCDCD;
    padding: 10px 0;
}
main .product_02 .product_02_item .item p img {
    width: 560px; /* height: 350px; */
}
main .product_02 .product_02_item .item h3 {
    color: #fff;
}
main .product_02 .product_02_item .item .price {
    display: flex;
    align-items: center;
}
main .product_02 .product_02_item .item .price del {
    color: #aaaaaa;
}
main .product_02 .product_02_item .item .price p {}
main .product_02 .product_02_item .item .price p span {
    color: #76CFC7;
    margin: 0 30px 0 10px;
}
main .product_02 .product_02_item .item .price .sale {
    color: #fff;
}
/* main07_event */
main .event {
    /* border: 5px solid red; */
    padding: 60px;
}
main .event .event_func {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #fff;
    font-size: 0.875rem;
}
main .event .event_func .event_one {}
main .event .event_func .event_one p {}
main .event .event_func .event_one p img {
    width: 870px;
}
main .event .event_func .event_one h2 {
    font-size: 1.875rem;
    font-weight: 700;
}
main .event .event_func .event_one .event_info {
    margin: 15px 0 10px 0;
}
main .event .event_func .event_one p {}
main .event .event_func .event_one p em {
    color: #CDCDCD;
}
main .event .event_func .event_two {}
main .event .event_func .event_two p {}
main .event .event_func .event_two p img {
    width: 870px;
}
main .event .event_func .event_two h2 {
    font-size: 1.875rem;
    font-weight: 700;
}
main .event .event_func .event_two .event_info {
    margin: 15px 0 10px 0;
}
main .event .event_func .event_two p {}
main .event .event_func .event_two p em {
    color: #CDCDCD;
}

/* main08_instagram */
main .sns {
    /* border: 5px solid red; */
    padding: 60px;
    text-align: center;
    color: #fff;
}
main .sns .sns_title {}
main .sns .sns_title h2 {
    font-family: 'DM Serif Text';
    font-size: 1.875rem;
    padding-bottom: 30px;
}
main .sns .sns_title p {
    font-size: 0.875rem;
}
main .sns .insta {
    padding: 89px 0;
}
main .sns .insta li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
main .sns .insta li img {
    width: 316px;
    border-radius: 10px;
}
main .sns > .view {
    /* display: inline-block; */
    color: #fff;
    font-size: 0.875rem;
    padding: 10px;
    border-bottom: 1px solid #fff;
}
/* foooter */
footer {
    margin: 60px auto;
    text-align: center;
    color: #fff;
}
footer h1 {}
footer h1 a {}
footer h1 a img {
    width: 124px;
}
footer .f_lnb {}
footer .f_lnb li {}
footer .f_lnb li a {
    color: #fff;
    font-family: 'DM Serif Text';
    font-size: 1.125rem;
    padding: 30px;
    display: inline-block;
}
footer .f_lnb li a:last-child {
    padding-right: 0;
}
footer p {
    font-size: 0.875rem;
    line-height: 1.7;
}
footer p:last-child {
    padding-top: 30px;
}